.form-ann {
    display: grid;
    place-items: center;
}

.textarea-ann {
    display: grid;
    padding: 15px 15px 0;
    font-size: 16px;
    border-radius: 10px;
    width: 50%;
    max-width: 500px;
    height: 200px;
}

.btn-ann {
    width: 30%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border: 1px solid transparent;
    color: #fff;
    /* 字體顏色 */
    background-color: #e94b42;
}

.loader-ann {
    align-self: center;
    margin-top: 20px;
}