.form-login {
    background-color: #ffe4c4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-login-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login-edit {
    display: flex;
    /* 開啟 Flex 排列 */
    justify-content: space-between;
    /* 水平排列時的間距方式 */
    align-items: center;
    /* 垂直排列時對齊方式 */
    gap: 10px;
    /* 控制子元素之間的間距 */
    margin-top: 20px;
}

.input-login {
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    font-family: 'Arial', sans-serif;
    /* 字體樣式 */
    border: 1px solid transparent;
    color: #fff;
    background-color: rgba(42, 42, 42, 0.5);
}

.submit-login-btn {
    width: 60%;
    margin-top: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border: 1px solid transparent;
    color: #fff;
    /* 字體顏色 */
    background-color: #e94b42;
    display: grid;
    justify-self: center;
}