.menuList {
    list-style: none;
    /* 移除列表的點樣式 */
    padding: 0px;
    /* 設定左右內邊距 */
}

.menuItem {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height: 60px;
}

.menuItem a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.menuItem a:hover {
    background-color: #abcbf0;
}

span {
    margin-left: 16px;
}
