h1 {
    text-align: center;
}

label {
    font-size: 16px;
    /* 字體大小 */
    font-weight: bold;
    /* 字體粗細 */
    color: #333;
    /* 字體顏色 */
    font-family: 'Arial', sans-serif;
    /* 字體樣式 */
    margin-right: 8px;
    /* 調整 label 與 input 的垂直距離 */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}